#body{
      
    
}

container{
    width:100%;
    height:auto;
}

.gradient{
    height:100%;
    background: -webkit-linear-gradient(-90deg, #041f56 ,#a4a5a8);
}
.logo{
    width:10%;
}
.landkaart{
	margin-top:5%;
    width:80%;
}

content{
}

content H4{
    font-family: Verdana;
    color:white;
    font-size:100%;
}

.profiel{
    background-color:gray;
    margin-top:-10%;
    margin-left:25%;
    width:20%;
    height:10%;
}

content H3{
    font-family:Verdana;
    color:white;
    font-size:80%;
}

.landinfo{
    background-color:gray;
	margin-top:-5.7%;
    margin-left:3%;
    width:20%;
    height:20%;
}

.startvideo{
    color:white;
    text-decoration:none;
    font-family: Verdana;
    margin-left: 89%;
    font-size:130%;

}

a:hover {
    font-family: Verdana, sans-serif;
	color: white;
	text-decoration: none;
}
a:visited {
    font-family: Verdana, sans-serif;
	color: white;
	text-decoration: none;
}
a:link {
    font-family: Verdana, sans-serif;
	color: white;
	text-decoration: none;
}